   
<br>
<br>
<br>   
<br>
<br>
<center>
<div class="card">
<img src="/imagenes/Marcos.png">
<p> Marcos Martinez</p>
<p>rol: Programador</p>
</div>

<div class="card">
<img src="/imagenes/Palachi.jpeg">
<p> Thiago Palachi</p>
<p>rol: Diseñador</p>
</div>
</center>