 <br>
    <br>
    <br>
    <br>
    <br>


<div class="card">
    <img src="/imagenes/@ViewBag.Candidatos.foto">
    <p>Nombre:@ViewBag.Candidatos.nombre</p>
    <p>Apellido: @ViewBag.Candidatos.apellido</p>
    <p>Nacimiento: @ViewBag.Candidatos.fechaNacimiento.ToShortDateString()</p>
    <p>Postulacion: @ViewBag.Candidatos.Postulacion</p>
</div>




<a href='@Url.Action("verDetallePartido", new{idPartido = ViewBag.Candidatos.idPartido})'> Volver</a>